* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 48px;
  padding-bottom: 48px;
}

.title {
  margin-top: 48px;
  margin-bottom: 48px;
}

.intro-chunk {
  max-width: 336px;
}

h1 {
  margin-left: 16px;
}

h2 {
  margin-left: 16px;
  margin-top: 0;
}

p {
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.5rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding-bottom: 64px;
}

.card {
  margin-top: 64px;
  padding-top: 8px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  margin-left: -8px;
  max-width: 400px;
  padding: 16px 32px 16px 24px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.max-width-wrapper {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

/* Add styles here! */
